body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ede9c8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.player-card {
  height: 400px;
  max-width: 280px;
  min-width: 230px;
}

.player-card:hover {
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
}

.player-cards {
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/661/973/110/cool-nba-logo-wallpaper-preview.jpg");
  min-width: 300px;
}

.player-image {
  height: 350px;
  transition: transform 0.2s;
}

.player-image:hover {
  transform: scale(0.9);
}
